{% extends 'base.html' %}

{% block content %}
<div class="container admin-container">
    <h1>Admin</h1>
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Category</th>
                    <th scope="col">Image</th>
                    <th scope="col">Country</th>
                    <th scope="col">Email</th>
                    <th scope="col">ID</th>
                    <th scope="col">Nickname</th>
                    <th scope="col">Social</th>
                    <th scope="col">User ID</th>
                </tr>
            </thead>
            <tbody>
                {% for user in pending_artists%}
                <tr>
                    <th scope="row">{{ loop.index }}</th>
                    <td>{{ user.category }}</td>
                    <td>{{ user.image }}</td>
                    <td>{{ user.country }}</td>
                    <td>{{ user.email }}</td>
                    <td>{{ user.id }}</td>
                    <td>{{ user.nickname }}</td>
                    <td>{{ user.social }}</td>
                    <td>{{ user.user_id }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
    <div class="row-admin">
        <div>
            <h3>Accepting</h3>
            {% include 'accept_form.html' %}
        </div>

        <div>
            <h3>Removing</h3>
            {% include 'delete_form.html' %}
        </div>
    </div>
</div>
{% endblock content %}